################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/_inmm/_inmm.vcxproj.user
/_inmm/Debug
/_inmm/Release
/Release
/_inmm/Backup-_inmm.cpp
/_inmm/_inmm.cpp.bak
